{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>Happiness Archive</h2>
    </div>

    <p>
        When you send a Happiness Packet, you can agree to display your message publicly on
        the Website. If both sender and recipient select this option, the message is published
        on this page as a part of our happiness archive.
    </p>
    <em>
        As we don't have real messages to publish yet, this page is a lovely placeholder.
        Check back here soon!
    </em>

<!-- MA: There's nothing here yet so I would just keep the static text until we get some public packets

    <h4>From Erik Romijn to Mikey Ariel</h4>
    <blockquote>{% lorem 2 p random %}</blockquote>

    <h4>From Erik Romijn to Ola Sitarska</h4>
    <blockquote>{% lorem 1 p random %}</blockquote>
-->

{% endblock content %}
