{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>Happiness archive</h2>
    </div>

    <p>
        When people send messages through Happiness Packets, they can opt-in to make their message public.
        If both sender and recipient approve, we publish them here to build an archive of happiness.
    </p>
    <em>
        As we don't have real messages to publish yet, this is just a mock page.
        Also, this is the page with the worst design.
    </em>

    <h4>From Erik Romijn to Mikey Ariel</h4>
    <blockquote>{% lorem 2 p random %}</blockquote>

    <h4>From Erik Romijn to Ola Sitarska</h4>
    <blockquote>{% lorem 1 p random %}</blockquote>

{% endblock content %}
