{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>Frequently asked questions</h2>
    </div>

    <h3>Who made this and why?</h3>
    <p>
        Open-source happiness projects was built by <a href="https://twitter.com/erikpub">Erik Romijn</a> and
        <a href="https://twitter.com/thatdocslady">Mikey Ariel</a>.
        We made this in connection to our
        <a href="https://2016.djangocon.eu/speakers/13">Djangocon Europe 2016 talk on Healthy Minds in a
        Healthy Community</a>. One of the issues we encountered is that many people are unaware of how loved,
        appreciated or admired they are by their peers, as we tend to have a culture of being quiet
        when things are good. With this project, we hope to make it easier and more normal for people to
        spread happiness, gratitude and appreciation in open-source communities.
    </p>

    <h3>Isn't it weird to send these notes to other people?</h3>
    <p>
        Many of us come from a culture where it's almost more normal to complan about bad things than to
        talk about good things. So it may feel a little unusual to communicate explicitly positively towards others.
        However, in our personal experience, any awkwardness quickly goes away in favour of feeling great about
        helping someone else that deserved it feel happier.
    </p>

    <h3>Can I send anything I want?</h3>
    <p>
        We don't screen the content of messages. However, all messages must meet the
        <a href="https://www.djangoproject.com/conduct/">Django Code of Conduct</a>.
        Notably, harassment, insults and other exclusionary behavior aren't acceptable.
    </p>
    <p>
        Violations of this may result in you being banned from the service. The message may also be shared with the
        Django Code of Conduct committee, who may take further action on their own. If you're from a different
        open-source community, we may share the message with any code of conduct committee or similar group from that
        community.
    </p>

    <h3>Should I reply when I get a happiness packet from someone?</h3>
    <p>
        You are under no obligation to. But perhaps you'll feel inspired about something to write back when
        you get a happiness packet yourself. We always encourage sending more messages, but only sincere ones.
    </p>
    <p>
        Note that if the sender asked to remain anonymous, you won't be able to reply.
    </p>

    <h3>Are my notes kept secret?</h3>
    <p>
        By default, we'll only share your message with the recipient. They'll get an e-mail with your message
        and can view it online. We'll only share your name and email address with the recipient if you opt in.
    </p>
    <p>
        In case of any suspicion of abuse or other unacceptable messages, to be determined by the admins,
        your message may be read by the admins and shared with third parties.
    </p>

    <h3>What does it mean when I say a note can be made public?</h3>
    <p>
        If you both the sender and the recipient say they're OK with us publishing the message,
        it'll be included in our public archive of open-source happiness. We encourage this, but it's
        completely fine if you don't feel comfortable with this.
    </p>
    <p>
        We will publicly include the name of sender and recipient only if you opt in for that.
        Note that we will not modify the content of the message in any case, so if names or other
        hints to identities are included in the message, those will be made public even if you ask us
        to publish without sender and recipient names.
    </p>

    <h3>I received an abusive message, what should I do?</h3>
    <p>
        Please report it on <a href="mailto:info@happinesspackets.io">info@happinesspackets.io</a>, ideally by
        forwarding the email you got from us.
    </p>

    <h3>I don't want to receive any email from you</h3>
    <p>
        Every email we sent includes a link to opt out of all future mails. In that case, we won't allow that
        email address to be used anywhere on the site.
    </p>

{% endblock content %}
