{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>Get inspired!</h2>
    </div>

    <em>
        Want to send some happiness but having a writer's block? Check out some of these sample messages
        for inspiration. These are not actual messages that were sent with the system, just some ideas that
        you can use until the Happiness Archive grows with real-world Happiness Packets to inspire you.
    </em>

    <h4>From Erik Romijn to Mikey Ariel</h4>
    <blockquote>This is a message.</blockquote>

    <h4>From Erik Romijn to Ola Sitarska</h4>
    <blockquote>{% lorem 1 p random %}</blockquote>


{% endblock content %}
