{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>Get inspired!</h2>
    </div>

    <em>
        Want to send some happiness but having a writer's block? Check out some of these sample messages
        for inspiration. These are not actual messages that were sent with the system, anejust some ideas that
        you can use until the Happiness Archive grows with real-world Happiness Packets to inspire you.

    </em>

<!-- MA: I might have some ideas but I don't know how you want to display them. Maybe you can create some
dummy element for the message and I'll throw some things in there?
-->

    {% lorem 2 p random %}

{% endblock content %}
