{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="page-header">
        <h2>You got a happiness packet!</h2>
    </div>

    <p>
        {% if message.sender_named %}
            You got a happiness packet from {{ message.sender_name }} ({{ message.sender_email }}).
        {% else %}
            The sender of this message preferred to remain anonymous.
        {% endif %}
        They wrote:
        </p>

    <blockquote>{{ message.message|linebreaksbr }}</blockquote>

    {% crispy form %}
{% endblock content %}
