{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <h2>What are open-source happiness packets?</h2>
    </div>

    <p class="lead">
        People are generally much loved than they think they are. Especially when things don't go to plan, others
        almost never think as harsh of you as you might think yourself. It's easy for us to complain when
        things are bad, but we're often fairly silent when things are good. Open-source communities are no different.
    </p>

    <p>
        Feeling like you've made a difference, that your work matters and paid off, and that the people you've done
        that work with are happy you're part of it, is an awesome feeling. With open-source happiness packets, we're
        trying to spread that feeling more.
    </p>

    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Send some happiness yourself</a>
    </p>

    <h2>How does it work?</h2>
    <p>
        Openly expressing appreciation, gratefulness or happiness to other people can be difficult. Especially when you
        do not know them well. Many of us are not used to a culture in which people are open about such feelings, and
        quickly feel uncomfortable or creepy sharing them.
    </p>
    <p>
        Open-source happiness packets is a very simple platform to anonymously approach the people you appreciate or
        are thankful to in your community. We can pass the message anonymously if you want, to reduce any reluctance.
        We do encourage you to include your name though.
    </p>

    <h3>Happiness archive</h3>
    <p>
        If both you and the recipient agree, we can even
        <a href="{% url 'messaging:archive' %}">publish your message</a> for others to see. That way, we'll
        be building on an archive of open-source happiness.
    </p><p>
        Here's a random message from
        <a href="{% url 'messaging:archive' %}">our archive</a>:
    </p>

    <h4>From Erik Romijn to Ola Sitarska</h4>
    <blockquote>{% lorem 1 p random %}</blockquote>

    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Send some happiness now</a>
    </p>

{% endblock content %}
